body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url('./imagenes/Fondo/fondo1.jpg');
}

/* imagen junto al titulo principal */
.fondo{
    width: 350px;
    height: 190px;
    border-radius: 15px;
}
/* agregando fondo del header principal */
.main-header{
    background-color: #012340;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}

.texto-header{
    text-align: center;
    
}

.title{
    margin-top: 0;
    color: #03A63C;
    font-family: 'Pacifico', cursive;
    font-size: 3.7em;
    text-shadow: 5px 6px 2px #025939,5px 6px 14px #027333;
}

.nav-link{
    color: white;
    text-decoration: none;   
    width: 33%;
    display: inline-block;
    margin-left: -6px;
}

.main-container{
    min-height: 100vh;
}

.product img{
    width: 180px;
    height: 110px;
    padding-top: 20px;
    border-radius: 5px;
}

.product h3{
    font-size: 1.7em;
    margin-top: 5px;
    margin-bottom: 5px;
}

.product p{
    margin-top: 0;
    padding-bottom: 10px;
}

.card{
    background-color: #04D939;
    border-radius: 10px;
    box-shadow: 6px 5px 1px rgba(0,0,0,0.12), 6px 5px 1px rgba(0,0,0,0.24);
    width: 230px;
}

.body{
    background-color: white;
    padding: 29px 50px;
    border-radius: 10px;
    border: 1px solid black;
}